.archive-contributor-title {
  background-color: #dedbd4;
  border-bottom: 2px solid $color-black-1;
  margin: 0 auto;
  max-width: $general-container-width;
  padding: 74px 0 26px;

  h1 {
    color: $color-black-1;
    font-size: 28px;
    font-weight: $font-weight-extra-bold;
    line-height: 1.143;
  }
}

.archive-contributor-search-section {
  .general-container {
    padding: 50px 0 120px;
  }
}

.archive-contributor-search-greek-letter-row {
  display: flex;
  justify-content: space-between;
}

.archive-contributor-search-greek-letter-col {
  color: $color-black;
  cursor: pointer;
  font-size: 24px;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  transition: opacity 0.1s ease-out;

  &.active {
    text-decoration: underline;
  }
}

.archive-contributor-search-english-letter-wrapper {
  margin-top: 40px;
}

.archive-contributor-search-english-letter-row {
  display: flex;
  justify-content: space-between;
  margin: 0 -40px;
}

.archive-contributor-search-english-letter-col {
  color: $color-black;
  cursor: pointer;
  font-size: 24px;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  transition: opacity 0.1s ease-out;

  &.active {
    opacity: 0.15;
  }
}

.archive-contributor-search-result-col {
  font-size: 22px;
  font-weight: $font-weight-normal;
  line-height: 1.091;

  a {
    color: $color-black;
  }
}

.archive-contributor-search-result-col+.archive-contributor-search-result-col {
  margin-top: 15px;
}

.archive-contributor-search-result-row {
  display: flex;
  margin: 80px -8px 0;
}

.archive-contributor-search-result-left-col {
  font-size: 24px;
  font-weight: $font-weight-normal;
  line-height: 1.333;
  padding: 0 8px;
  width: 50%;
}

.archive-contributor-search-result-right-col {
  padding: 0 8px;
  width: 50%;
}

.archive-contributor-search-result-list {
  padding-top: 4px;
}

@media(max-width: $breakpoint-mobile-start) {
  .archive-contributor-search-greek-letter-col+.archive-contributor-search-greek-letter-col,
  .archive-contributor-search-english-letter-col+.archive-contributor-search-english-letter-col {
    margin-left: 30px;
  }

  .archive-contributor-title {
    padding: 24px 0 26px;
  }

  .archive-contributor-search-result-row {
    display: block;
    margin: 80px 0 0;
  }

  .archive-contributor-search-result-left-col {
    font-size: 20px;
    width: 100%;
  }

  .archive-contributor-search-result-right-col {
    padding: 20px 8px;
    width: 100%;
  }

  .archive-contributor-search-result-col {
    font-size: 16px;
    line-height: 16px;
  }

  .archive-contributor-search-greek-letter-wrapper,
  .archive-contributor-search-english-letter-wrapper {
    margin: 0;
    overflow: auto;
    padding: 10px 0;
  }

  .archive-contributor-search-english-letter-row {
    margin: 0;
  }
}
