.wishlist_table {
  td {
    border-bottom: 2px solid $color-black !important;
  }
} 

.wishlist-items-wrapper {
  td {
    text-align: left !important;
  }

  tr:first-child {
    td {
      border-top: 2px solid $color-black;
    }
  }

  .cart-product-thumbnail {
    padding: 30px 0;
  }
    
  .cart-product-info {
    padding: 30px 0 30px 40px;
  }
}
