$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-main-family: 'literata';

$general-container-width: 1280px;
$wide-container-width: 1250px;
$container-width: 1230px;
$content-container-width: 1024px;
$small-container-width: 930px;

$color-black: #000;
$color-black-1: #1f1f1f;
$color-white: #fff;
$color-gray: #eae7df;
$color-gray-1: #dedbd4;
$color-gray-2: #e3e8ee;
$color-sky: #ecfaf3;
$color-green: #207277;

$breakpoint-tablet-start: 1279px;
$breakpoint-mobile-start: 1279px;
// $breakpoint-mobile-start: 767px;
